*{
	box-sizing:border-box;
}

body{
	margin:0;
	padding:0;
	background-color: #34495e;
	display:flex;
	align-items:center;
	justify-content: center;
	height:100vh;
	overflow:hidden;
}

.container{
	width:500px;
	height:500px;
	background-color: #ccc;
	border-radius:50%;
	border:15px solid #dde;
	position: relative;
	overflow: hidden;
	transition: 5s;
}

.container div{
	height:50%;
	width:200px;
	position: absolute;
	clip-path: polygon(100% 0 , 50% 100% , 0 0 );
	transform:translateX(-50%);
	transform-origin:bottom;
	text-align:center;
	display:flex;
    flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size:20px;
	font-weight:bold;
	font-family:sans-serif;
	color:#fff;
	left:135px;
}

.container .one{
	background-color: #3f51b5;
	left:50%;
}
.container .two{
	background-color: #ff9800;
	transform: rotate(45deg);
}
.container .three{
	background-color: #e91e63;
	transform:rotate(90deg);
}
.container .four{
	background-color: #4caf50;
	transform: rotate(135deg);
}
.container .five{
	background-color: #009688;
	transform: rotate(180deg);
}
.container .six{
	background-color: #795548;
	transform: rotate(225deg);
}
.container .seven{
	background-color: #9c27b0;
	transform: rotate(270deg);
}
.container .eight{
	background-color: #f44336;
	transform: rotate(315deg);
}

.arrow{
	position: absolute;
	top:0;
	left:50%;
	transform: translateX(-50%);
	color:#fff;
}

.arrow::before{
	content:"\1F817";
	font-size:50px;
}

#spin{
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	z-index:10;
	background-color: #e2e2e2;
	text-transform: uppercase;
	border:8px solid #fff;
	font-weight:bold;
	font-size:20px;
	color:#a2a2a2;
	width: 80px;
	height:80px;
	font-family: sans-serif;
	border-radius:50%;
	cursor: pointer;
	outline:none;
	letter-spacing: 1px;
}
.btn {
    top: 850px;
    position: absolute;
}
.game {
    margin-top: 1rem;
    border: none;
    outline: none;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    background-color: greenyellow;
    transition: .6s ease;
    color: #fff;
}

/* -----MODAL */
.game-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    padding: 0 10px;
    transition: opacity 0.4s ease;
}
.game-modal.show {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.4s 0.4s ease;
}
.game-modal .content {
    padding: 30px;
    max-width: 420px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.game-modal img {
    max-width: 130px;
    margin-bottom: 20px;
}
.game-modal img[src="images/victory.gif"] {
    margin-left: -10px;
}
.game-modal h4 {
    font-size: 1.53rem;
}
.game-modal p {
    font-size: 1.15rem;
    margin: 15px 0 30px;
    font-weight: 500;
}
.game-modal p b {
    color: #5E63BA;
    font-weight: 600;
}
.game-modal button {
    padding: 12px 23px;
}